@model Booxtore.Presentation.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<section id="billboard" class="position-relative d-flex align-items-center py-5 bg-light-gray"
         style="background-image: url(images/banner-image-bg.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; height: 800px;">
    <div class="position-absolute end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next main-slider-button-next">
        <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
            <use xlink:href="#alt-arrow-right-outline"></use>
        </svg>
    </div>
    <div class="position-absolute start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev main-slider-button-prev">
        <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
            <use xlink:href="#alt-arrow-left-outline"></use>
        </svg>
    </div>
    <div class="swiper main-swiper">
        <div class="swiper-wrapper d-flex align-items-center">
            <div class="swiper-slide">
                <div class="container">
                    <div class="row d-flex flex-column-reverse flex-md-row align-items-center">
                        <div class="col-md-5 offset-md-1 mt-5 mt-md-0 text-center text-md-start">
                            <div class="banner-content">
                                <h2>The Fine Print Book Collection</h2>
                                <p>Best Offer Save 30%. Grab it now!</p>
                                <a href="@Url.Action("Index", "Shop")" class="btn mt-3">Shop Collection</a>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="image-holder">
                                <img src="images/banner-image2.png" class="img-fluid" alt="banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="row d-flex flex-column-reverse flex-md-row align-items-center">
                        <div class="col-md-5 offset-md-1 mt-5 mt-md-0 text-center text-md-start">
                            <div class="banner-content">
                                <h2>How Innovation works</h2>
                                <p>Discount available. Grab it now!</p>
                                <a href="@Url.Action("Index", "Shop")" class="btn mt-3">Shop Product</a>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="image-holder">
                                <img src="images/banner-image1.png" class="img-fluid" alt="banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="row d-flex flex-column-reverse flex-md-row align-items-center">
                        <div class="col-md-5 offset-md-1 mt-5 mt-md-0 text-center text-md-start">
                            <div class="banner-content">
                                <h2>Your Heart is the Sea</h2>
                                <p>Limited stocks available. Grab it now!</p>
                                <a href="@Url.Action("Index", "Shop")" class="btn mt-3">Shop Collection</a>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="image-holder">
                                <img src="images/banner-image.png" class="img-fluid" alt="banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="best-selling-items" class="position-relative padding-large ">
    <div class="container">
        <div class="section-title d-md-flex justify-content-between align-items-center mb-4">
            <h3 class="d-flex align-items-center">Best selling items</h3>
            <a href="@Url.Action("Index", "Shop")" class="btn">View All</a>
        </div>
        <div class="position-absolute top-50 end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next product-slider-button-next">
            <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
                <use xlink:href="#alt-arrow-right-outline"></use>
            </svg>
        </div>
        <div class="position-absolute top-50 start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev product-slider-button-prev">
            <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
                <use xlink:href="#alt-arrow-left-outline"></use>
            </svg>
        </div>
        <div class="swiper product-swiper">
            <div class="swiper-wrapper">
                @foreach (var book in Model.BestSellingBooks)
                {
                    <div class="swiper-slide">
                        <div class="card position-relative p-4 border rounded-3">
                            @if (book.Price > 0)
                            {
                                <div class="position-absolute">
                                    <p class="bg-primary py-1 px-3 fs-6 text-white rounded-2">
                                        @if (book.IsFree == true) 
                                        { 
                                            <span>Free</span> 
                                        } 
                                        else 
                                        { 
                                            <span>$@book.Price</span> 
                                        }
                                    </p>
                                </div>
                            }
                            <img src="@(string.IsNullOrEmpty(book.CoverImageUrl) ? "/images/product-item1.png" : book.CoverImageUrl)" 
                                 class="img-fluid shadow-sm" alt="@book.Title" style="height: 300px; object-fit: cover;">
                            <h6 class="mt-4 mb-0 fw-bold">
                                <a href="@Url.Action("Details", "Shop", new { id = book.BookId })">@book.Title</a>
                            </h6>
                            <div class="review-content d-flex">
                                <p class="my-2 me-2 fs-6 text-black-50">@(book.Author?.Name ?? "Unknown Author")</p>
                                <div class="rating text-warning d-flex align-items-center">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                    }
                                </div>
                            </div>
                            <span class="price text-primary fw-bold mb-2 fs-5">
                                @if (book.IsFree == true)
                                {
                                    <span>Free</span>
                                }
                                else
                                {
                                    <span>$@book.Price</span>
                                }
                            </span>
                            <div class="card-concern position-absolute start-0 end-0 d-flex gap-2">
                                <button type="button" class="btn btn-dark add-to-cart-btn" 
                                        data-book-id="@book.BookId" data-bs-toggle="tooltip" 
                                        data-bs-placement="top" data-bs-title="Add to Cart">
                                    <svg class="cart">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </button>
                                <button type="button" class="btn btn-dark add-to-wishlist-btn" 
                                        data-book-id="@book.BookId">
                                    <svg class="wishlist">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>


<section id="limited-offer" class="padding-large"
         style="background-image: url(images/banner-image-bg-1.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; height: 800px;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 text-center">
                <div class="image-holder">
                    <img src="images/banner-image3.png" class="img-fluid" alt="banner">
                </div>
            </div>
            <div class="col-md-5 offset-md-1 mt-5 mt-md-0 text-center text-md-start">
                <h2>30% Discount on all items. Hurry Up !!!</h2>
                <div id="countdown-clock" class="text-dark d-flex align-items-center my-3">
                    <div class="time d-grid pe-3">
                        <span class="days fs-1 fw-normal"></span>
                        <small>Days</small>
                    </div>
                    <span class="fs-1 text-primary">:</span>
                    <div class="time d-grid pe-3 ps-3">
                        <span class="hours fs-1 fw-normal"></span>
                        <small>Hrs</small>
                    </div>
                    <span class="fs-1 text-primary">:</span>
                    <div class="time d-grid pe-3 ps-3">
                        <span class="minutes fs-1 fw-normal"></span>
                        <small>Min</small>
                    </div>
                    <span class="fs-1 text-primary">:</span>
                    <div class="time d-grid ps-3">
                        <span class="seconds fs-1 fw-normal"></span>
                        <small>Sec</small>
                    </div>
                </div>
                <a href="shop.html" class="btn mt-3">Shop Collection</a>
            </div>
        </div>
    </div>
    </div>
</section>

<section id="items-listing" class="padding-large">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
                <div class="featured border rounded-3 p-4">
                    <div class="section-title overflow-hidden mb-5 mt-2">
                        <h3 class="d-flex flex-column mb-0">Featured</h3>
                    </div>
                    <div class="items-lists">
                        <div class="item d-flex">
                            <img src="images/product-item2.png" class="img-fluid shadow-sm" alt="product item">
                            <div class="item-content ms-3">
                                <h6 class="mb-0 fw-bold"><a href="single-product.html">Echoes of the Ancients</a></h6>
                                <div class="review-content d-flex">
                                    <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>

                                    <div class="rating text-warning d-flex align-items-center">
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
                            </div>
                        </div>
                        <hr class="gray-400">
                        <div class="item d-flex">
                            <img src="images/product-item1.png" class="img-fluid shadow-sm" alt="product item">
                            <div class="item-content ms-3">
                                <h6 class="mb-0 fw-bold"><a href="single-product.html">The Midnight Garden</a></h6>
                                <div class="review-content d-flex">
                                    <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                                    <div class="rating text-warning d-flex align-items-center">
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
                            </div>
                        </div>
                        <hr>
                        <div class="item d-flex">
                            <img src="images/product-item3.png" class="img-fluid shadow-sm" alt="product item">
                            <div class="item-content ms-3">
                                <h6 class="mb-0 fw-bold"><a href="single-product.html">Shadow of the Serpent</a></h6>
                                <div class="review-content d-flex">
                                    <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>

                                    <div class="rating text-warning d-flex align-items-center">
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
                <div class="latest-items border rounded-3 p-4">
                    <div class="section-title overflow-hidden mb-5 mt-2">
                        <h3 class="d-flex flex-column mb-0">Latest items</h3>
                    </div>
                    <div class="items-lists">
                        <div class="item d-flex">
                            <img src="images/product-item4.png" class="img-fluid shadow-sm" alt="product item">
                            <div class="item-content ms-3">
                                <h6 class="mb-0 fw-bold"><a href="single-product.html">Whispering Winds</a></h6>
                                <div class="review-content d-flex">
                                    <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                                    <div class="rating text-warning d-flex align-items-center">
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
                            </div>
                        </div>
                        <hr class="gray-400">
                        <div class="item d-flex">
                            <img src="images/product-item5.png" class="img-fluid shadow-sm" alt="product item">
                            <div class="item-content ms-3">
                                <h6 class="mb-0 fw-bold"><a href="single-product.html">The Forgotten Realm</a></h6>
                                <div class="review-content d-flex">
                                    <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                                    <div class="rating text-warning d-flex align-items-center">
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
                            </div>
                        </div>
                        <hr>
                        <div class="item d-flex">
                            <img src="images/product-item6.png" class="img-fluid shadow-sm" alt="product item">
                            <div class="item-content ms-3">
                                <h6 class="mb-0 fw-bold"><a href="single-product.html">Moonlit Secrets</a></h6>
                                <div class="review-content d-flex">
                                    <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                                    <div class="rating text-warning d-flex align-items-center">
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
                <div class="best-reviewed border rounded-3 p-4">
                    <div class="section-title overflow-hidden mb-5 mt-2">
                        <h3 class="d-flex flex-column mb-0">Best reviewed</h3>
                    </div>
                    <div class="items-lists">
                        <div class="item d-flex">
                            <img src="images/product-item7.png" class="img-fluid shadow-sm" alt="product item">
                            <div class="item-content ms-3">
                                <h6 class="mb-0 fw-bold"><a href="single-product.html">The Crystal Key</a></h6>
                                <div class="review-content d-flex">
                                    <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                                    <div class="rating text-warning d-flex align-items-center">
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
                            </div>
                        </div>
                        <hr class="gray-400">
                        <div class="item d-flex">
                            <img src="images/product-item8.png" class="img-fluid shadow-sm" alt="product item">
                            <div class="item-content ms-3">
                                <h6 class="mb-0 fw-bold"><a href="single-product.html">Starlight Sonata</a></h6>
                                <div class="review-content d-flex">
                                    <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                                    <div class="rating text-warning d-flex align-items-center">
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
                            </div>
                        </div>
                        <hr>
                        <div class="item d-flex">
                            <img src="images/product-item9.png" class="img-fluid shadow-sm" alt="product item">
                            <div class="item-content ms-3">
                                <h6 class="mb-0 fw-bold"><a href="single-product.html">Tales of the Enchanted Forest</a></h6>
                                <div class="review-content d-flex">
                                    <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                                    <div class="rating text-warning d-flex align-items-center">
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span class="price text-primary fw-bold mb-2 fs-5">$870</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
                <div class="on-sale border rounded-3 p-4">
                    <div class="section-title overflow-hidden mb-5 mt-2">
                        <h3 class="d-flex flex-column mb-0">On sale</h3>
                    </div>
                    <div class="items-lists">
                        <div class="item d-flex">
                            <img src="images/product-item10.png" class="img-fluid shadow-sm" alt="product item">
                            <div class="item-content ms-3">
                                <h6 class="mb-0 fw-bold"><a href="single-product.html">The Phoenix Chronicles</a></h6>
                                <div class="review-content d-flex">
                                    <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                                    <div class="rating text-warning d-flex align-items-center">
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span class="price text-primary fw-bold mb-2 fs-5">
                                    <s class="text-black-50">$1666</s>
                                    $999
                                </span>
                            </div>
                        </div>
                        <hr class="gray-400">
                        <div class="item d-flex">
                            <img src="images/product-item11.png" class="img-fluid shadow-sm" alt="product item">
                            <div class="item-content ms-3">
                                <h6 class="mb-0 fw-bold"><a href="single-product.html">Dreams of Avalon</a></h6>
                                <div class="review-content d-flex">
                                    <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                                    <div class="rating text-warning d-flex align-items-center">
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span class="price text-primary fw-bold mb-2 fs-5">
                                    <s class="text-black-50">$500</s>
                                    $410
                                </span>
                            </div>
                        </div>
                        <hr>
                        <div class="item d-flex">
                            <img src="images/product-item12.png" class="img-fluid shadow-sm" alt="product item">
                            <div class="item-content ms-3">
                                <h6 class="mb-0 fw-bold"><a href="single-product.html">Legends of the Dragon Isles</a></h6>
                                <div class="review-content d-flex">
                                    <p class="my-2 me-2 fs-6 text-black-50">Lauren Asher</p>
                                    <div class="rating text-warning d-flex align-items-center">
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span class="price text-primary fw-bold mb-2 fs-5">
                                    <s class="text-black-50">$600</s>
                                    $500
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
